body {
  background-color: black;
}

.pagination {
  margin: 10px;
}

.gifs {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif {
  padding: 0 2px;
}

.loader {
  color: red;
}

.button-container {
  position: relative;
  width: 30%;
}

.link-button a {
  color: white;
  text-decoration: none;
}

.fav-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -140%);
  -ms-transform: translate(-50%, -140%);
  font-size: 16px;
  padding: 7px 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  color: white;
}